@mixin link-underlined($color: #fff, $reversed: false) {
    color: $color;

    @if $reversed {
        text-decoration: none;
    } @else {
        text-decoration: underline;
    }

    @content;

    &:hover {
        color: $color;

        @if $reversed {
            text-decoration: underline;
        } @else {
            text-decoration: none;
        }
    }
}

@mixin hide-up($breakpoint: sm, $display: flex) {
    display: $display;
    @content;

    @include media-breakpoint-up($breakpoint) {
        display: none !important;
    }
}

@mixin hide-down($breakpoint: sm, $display: flex) {
    display: none;

    @include media-breakpoint-up($breakpoint) {
        display: $display !important;
        @content;
    }
}

@mixin grid-cell($number: 12) {
    flex: 100% / 12 * $number;
    max-width: 100% / 12 * $number;
    width: 100% / 12 * $number;
}

@mixin visible-up($breakpoint: sm, $visibility: visible) {
    visibility: $visibility;
    @content;

    @include media-breakpoint-up($breakpoint) {
        visibility: hidden !important;
    }
}

@mixin visible-down($breakpoint: sm, $visibility: visible) {
    visibility: hidden;

    @include media-breakpoint-up($breakpoint) {
        visibility: $visibility !important;
        @content;
    }
}

@mixin truncate($width: false) {
    @if $width {
        width: $width;
    }

    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
